body{
    background-image: url(pexels-pixabay-206359.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        
}
h1{
    background-color: aquamarine;
    border-radius: 5px;
}
p{
    background-color:goldenrod;
}
img{
    background-color: gold;
    width: 255px;
    height: 250px;
    border-radius: 500px;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
    text-decoration:none;
}
.fa:hover{
    opacity: 0.8;
}
.fa-facebook{
    background-color: #4157ba ;
    color: white;
}
.fa-twitter{
    background-color: #2a2685;
    color: white;
}
.fa-google{
    background-color: #ab325c;
    color: white;
}
.fa-instagram{
    background-color: #aa35b5;
    color: whit;
}
.fa-linkedin{
    background-color: #541be3;
    color: white;
}
.fa-youtube{
    background-color: #ff0d25;
    color: white;
}
.fa-whatsapp{
    background-color: #07e816;
    color: white;
}
